/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/style.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* styles/custom-font.css */
@font-face {
    font-family: 'black-zuume-soft';
    src: url('/public/fonts/Zuume_Soft_Bold.ttf') format('opentype');
    /* Specify other font properties like font-weight and font-style if needed */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the custom font to specific elements or globally */
  /* For example, to apply it globally to all elements */
  body {
    font-family: 'black-zuume-soft', sans-serif;
  }
  
  /* You can also apply the font to specific elements by targeting their classes or IDs */
  
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Glitch.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/

  
  h1 {
    /* font-family: 'Space Mono', monospace; */
 
  }
